@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #d4d4d4;
  color: #000000bb;

  font-size: 1rem; /* 16px */
  line-height: 1.4;
}

.container-row {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 1.1em;
  /* border: 1px solid black; */
}

header {
  position: sticky; /* Always fixed at top */
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  padding: 1em 0;
  /* border-bottom:1px solid red ; */
  border-bottom: 1px solid #0000003c;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  /* border: 1px solid black; */
  width: 50px;
  height: 50px;
  overflow: hidden;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.light-icon {
  font-size: 1.4rem;
  color: #fe320a;
}

.controls {
  padding: 1em 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.filter-buttons {
  gap: 1vw;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.filter-btn {
  padding: 0.5em 1.1em;
  background: #d4d4d4;
  border: 1px solid #0000003c;
  border-radius: 50px;
  font-weight: 600;
  color: #000000bb;
  transition: all ease 0.4s;
  position: relative;
  overflow: hidden;
}

.filter-btn::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  left: 0;
  bottom: -100%;
  border-radius: 50%;
  transition: all ease 0.4s;
}

.filter-btn:hover::after {
  bottom: 0;
  border-radius: 0;
}

.filter-btn .btn-text {
  color: #000000bb;
  text-decoration: none;
  position: relative;
  z-index: 9;
}

.filter-btn:hover .btn-text {
  color: #d4d4d4;
}

.filter-btn.active {
  background: black;
  color: #d4d4d4;
}

.filter-btn.active .btn-text {
  color: #d4d4d4; /* ensure text flips */
}


.datetime {
  font-size: 0.7rem;
}

/* 1000px */
@media (min-width: 62.5em) {
  .container-row {
    padding: 0 2em;
  }
  .light-icon {
    font-size: 1.5rem;
  }
}

/* .logo {
  width: 20px;
  height: 20px;
}

.light-icon {
  color: #ff6b35;
} */

/* .main-content {
  border: 1px solid red;
}

.controls {
  border: 1px solid blue;
} */

/* .filter-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3px;
}

.filter-btn {
  color: #606060;
  border: 1px solid #959595;
  border-radius: 50px;
  
} */

/* .filter-btn::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  left: 0;
  bottom: -100%;
  border-radius: 50%;
  transition: all ease 0.4s;
}

.filter-btn:hover::after {
  bottom: 0;
  border-radius: 0;
}

.filter-btn .btn-text {
  color: #000000bb;
  text-decoration: none;
  position: relative;
  z-index: 9;
}

.filter-btn:hover .btn-text {
  color: #d4d4d4;
} */

/* .datetime {
  font-size: 11px;
  font-weight: 400;
  letter-spacing: -0.01em;
} */

/* .todolist-container {
  margin-top: 6px;
  margin-inline: 18px;
  list-style-type: none;
  /* padding: 1.2em 1.2em; */
/* border-radius: 20px;
  border: 1px solid #df1d1d;
}  */

/* .day-header {
  padding: 1.2em 1.4em;
  font-size: 20px;
  color: #3a3a3a;
  border-bottom: 1px solid #959595;
  font-weight: 1000;
  letter-spacing: -0.04em;
}

.task-content {
  display: flex;
  flex-direction: row;
  gap: 7px;
  align-items: center;
} */
/* 
.task-list {
  list-style-type: none; /* removes bullets */
/* padding: 0.1em 1.4em; */
/* }

.task-item {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid brown;
}

.task-checkbox {
  height: 15px;
  width: 15px;
  border: 1px solid black;
  border-radius: 2px;
} */

/* Initially, days are collapsed */
.day-section .task-list,
.day-section .user-input {
  display: none;
}

/* Show tasks + input when open */
.day-section.open .task-list,
.day-section.open .user-input {
  display: block;
}

/* #loader{
    height: 100%;
    width: 100%;
    background-color: #000;
    position: fixed;
    z-index: 999;
    top: 0;
    transition: all ease 0.7s;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loader h1{
    font-size: 4vw;
    color: transparent;
    background: linear-gradient(to right,orange,orangered);
    -webkit-background-clip: text;
    position: absolute;
    opacity: 0;
    animation-name: load;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: linear;
}
#loader h1:nth-child(2){
    animation-delay: 2s;
}
#loader h1:nth-child(3){
    animation-delay: 3s;
}

@keyframes load {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@media (max-width:600px) {
    #loader h1{
        font-size: 9vw;
      
    }
} */
